
*.log
Saved/Config/CrashReportClient/*
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png

Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings_.ini
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Logs/Sandwitch.log
Saved/Logs/Sandwitch.log
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
*.log
