
*.log
Saved/Config/CrashReportClient/*
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png

Saved/Config/Windows/EditorPerProjectUserSettings.ini
